<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.weiyue.mapper.UserMapper">

	<select id="getById" resultType="io.weiyue.entity.User">
		select * from t_user where id = #{id}
	</select>

	<insert id="insertUser">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> SELECT LAST_INSERT_ID() </selectKey>
		insert into t_user(name,age)values(#{name},#{age})
	</insert>
	
	<delete id="deleteUser">
		delete from t_user where id = #{id}
	</delete>

</mapper> 